################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Slascone.Provisioning.Sample.NuGet/Slascone.Provisioning.Sample.NuGet/obj
/Slascone.Provisioning.Sample.NuGet/.vs/Slascone.Provisioning.Sample.NuGet/DesignTimeBuild/.dtbcache.v2
/Slascone.Provisioning.Sample.NuGet/.vs/Slascone.Provisioning.Sample.NuGet/v17/.suo
/Slascone.Provisioning.Sample.NuGet/Slascone.Provisioning.Sample.NuGet/bin/Debug/net6.0
/Slascone.Provisioning.Sample.NuGet/.vs/Slascone.Provisioning.Sample.NuGet/v17
/Slascone.Provisioning.Sample.NuGet/bin/Debug/net6.0
/Slascone.Provisioning.Sample.NuGet/obj
/.vs/Slascone.Provisioning.Sample.NuGet/DesignTimeBuild
/.vs/Slascone.Provisioning.Sample.NuGet/v17
